/* ALL */
/*===========================================================================*/
@font-face {
    font-family: 'EBSHunminjeongeumL';
    src: url('../font/EBS훈민정음L.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: 'EBSHunminjeongeumR';
    src: url('../font/EBS훈민정음R.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'EBSHunminjeongeumSB';
    src: url('../font/EBS훈민정음SB.ttf');
    font-weight: bold;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

*, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-family: 'Pretendard'
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #020202;
    color: white;
}


/* HEADER */
/*===========================================================================*/
header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    background-color: #020202;
    z-index: 10;
}
header .container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo {
    font-family: 'EBSHunminjeongeumSB';
    font-weight: bold;
    font-size: 21px;
}
.menu ul {
    display: flex;
}
.menu li {
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-size: 16px;
    font-weight: normal;
}


/* MAIN */
/*===========================================================================*/
.main {
    width: 100%;
}
.main-container {
    position: relative;
    margin-top: 90px;
}
.main-container p {
    text-align: center;
}
.main-container p span{
    font-family: 'EBSHunminjeongeumSB';
    font-size: 96px;
    line-height: 120%;
    color: #1B1B1B;
    cursor: pointer;
}
.main-container p span:hover {
    color: white;
}
.main-graduation {
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;
    bottom: 0;
    background: linear-gradient(0deg, #020202 0%, rgba(0, 0, 0, 0) 100%);
}


/* CONTENT */
/*===========================================================================*/
.content {
    width: 100%;
    margin-top: 200px;
}
.content-container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.content-title h1 {
    font-weight: 500;
    font-size: 46px;
    line-height: 140%;
    margin: 0;
    margin-bottom: 16px;
}
.content-title p {
    font-size: 16px;
    line-height: 29px;
    color: #5B5B5B;
}
.content-card {
    margin-top: 50px;
}
.content-card-line {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 466px;
    height: 372px;
    margin-bottom: 28px;
    position: relative;
    /* background-image: url(/image/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}
.card::before {
    content: "";
    background-image: url(../image/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    border-radius: 12px;
}
.card-text {
    position: relative;
    top: 30px;
    left: 30px;
}
.card-text h3 {
    font-size: 32px;
    line-height: 140%;
    font-weight: 500;
}
.card-text p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 150%;
    width: 80%;
    padding-top: 10px;
}


/* FOOTER */
/*===========================================================================*/
footer {
    width: 100%;
    height: 50px;
    background-color: #131313;
    margin-top: 150px;
}
.footer-container {
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list ul{
    display: flex;
}
.footer-list li {
    list-style: none;
}
.footer-list a{
    text-decoration: none;
    color: #5B5B5B;
}
.footer-left a {
    margin-right: 40px;
}
.footer-right a {
    margin-left: 40px;
}
