/* ALL */
/*===========================================================================*/
@font-face {
    font-family: 'EBSHunminjeongeumL';
    src: url('font/EBS훈민정음L.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: 'EBSHunminjeongeumR';
    src: url('font/EBS훈민정음R.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'EBSHunminjeongeumSB';
    src: url('font/EBS훈민정음SB.ttf');
    font-weight: bold;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

*, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-family: 'Pretendard'
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #020202;
    color: white;
}


/* HEADER */
/*===========================================================================*/
header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    background-color: #020202;
    z-index: 10;
}
header .container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo {
    font-family: 'EBSHunminjeongeumSB';
    font-weight: bold;
    font-size: 21px;
}
.menu ul {
    display: flex;
}
.menu li {
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-size: 16px;
    font-weight: normal;
}


/* FOOTER */
/*===========================================================================*/
footer {
    width: 100%;
    height: 50px;
    background-color: #131313;
    margin-top: 150px;
}
.footer-container {
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list ul{
    display: flex;
}
.footer-list li {
    list-style: none;
}
.footer-list a{
    text-decoration: none;
    color: #5B5B5B;
}
.footer-left a {
    margin-right: 40px;
}
.footer-right a {
    margin-left: 40px;
}
