/* ALL */
/*===========================================================================*/
@font-face {
    font-family: 'EBSHunminjeongeumL';
    src: url('../font/EBS훈민정음L.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: 'EBSHunminjeongeumR';
    src: url('../font/EBS훈민정음R.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'EBSHunminjeongeumSB';
    src: url('../font/EBS훈민정음SB.ttf');
    font-weight: bold;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

*, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-family: 'Pretendard'
}

a {
    text-decoration: none;
    /* color: white; */
    color: black;
}

body {
    background-color: #EFEEEA;
    /* background-color: #020202;
    color: white; */
}

.margin {
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
/*===========================================================================*/
header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    /* background-color: #020202; */
    z-index: 10;
    background-color: #EFEEEA;
}
header .container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo {
    font-family: 'EBSHunminjeongeumSB';
    font-weight: bold;
    font-size: 21px;
}
.menu ul {
    display: flex;
}
.menu li {
    list-style: none;
}

.menu li a{
    text-decoration: none;
    /* color: white; */
    margin-left: 40px;
    font-size: 16px;
    font-weight: normal;
}


/* Main */
/*===========================================================================*/
.main-img {
    width: 100%;
    height: 100vh;
    background-image: url(../image/img8.png);
    display: flex;
    align-items: center;
}
.main-img h1 {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 140%;
    color: white;   
}
.main-img span {
    display: inline-block;
    padding-top: 100px;
    font-size: 18px;
    font-weight: 200;
    opacity: 0.8;
}

/* Eva Content */
/*===========================================================================*/
.eva {
    width: 100%;
    margin-top: 150px;
}
.eva-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 50px;
}
.content {
    position: relative;
    width: 70%;
    background-color: white;
}
#content-2, #content-4, #content-6, #content-7{
    border-radius: 15px 15px 0 15px;
}
#content-1, #content-3, #content-5, #content-7 {
    border-radius: 15px 15px 15px 0;
}
.content-box {
    padding: 30px;
}
.content-blank {
    width: 30%;
    height: 50px;
}
.right {
    text-align: right;
}
#eva-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}
#eva-name {
    font-size: 14px;
    opacity: 0.8;
    color: blue;
    padding-top: 10px;
}

/* Invent */
/*===========================================================================*/

.sub1-content-container {
    width: 95%;
    margin-top: 200px;
}
.sub1-content-title h3{
    font-size: 16px;
    opacity: 0.56;
}
.sub1-content-text {
    display: flex;
    margin-top: 30px;
}
.sub1-content-text h1 {
    margin: 0;
    font-size: 25px;
}
.sub1-content-text p {
    width: 1000px;
    text-align: justify;
    padding-left: 100px;
    font-size: 20px;
    line-height: 150%;
}
.section-img {
    width: 100%;
    border-radius: 15px;
    margin-top: 100px;
    height: 500px;
    background-image: url(../image/img9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.img-box {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.img {
    width: 49.5%;
    height: 600px;
    background-color: black;
    border-radius: 15px;
}

#img1 {
    background-image: url(../image/img10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#img2 {
    background-image: url(../image/img11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Next nav*/
/*===========================================================================*/
.next-nav {
    width: 100%;
    margin-top: 100px;
}
.next-nav-box {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.next-nav-box a {
    font-size: 20px;
    font-weight: 700;
    opacity: 0.56;
}
.next-nav-box a:hover {
    opacity: 1;
}


/* FOOTER */
/*===========================================================================*/
footer {
    width: 100%;
    height: 50px;
    background-color: gray;
    margin-top: 100px;
}
.footer-container {
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list ul{
    display: flex;
}
.footer-list li {
    list-style: none;
}
.footer-list a{
    text-decoration: none;
    color: #5B5B5B;
}
.footer-left a {
    margin-right: 40px;
}
.footer-right a {
    margin-left: 40px;
}

@media all and (max-width: 1024px) {
    .eva-container {
        width: 95%;
    }
    .main-img h1 {
        font-size: 45px;
    }
    #eva-text {
        font-size: 16px;
    }
    .sub1-content-title {
        margin-top: 100px;
    }
    .sub1-content-container  {
        margin-top: 50px;
    }
    .sub1-content-text {
        flex-direction: column;   
    }
    .sub1-content-text p {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
        font-size: 18px;
    }
    .section-img {
        background-size:contain;
        height: 250px;
        margin-top: 50px;
    }
    .img-box {
        flex-direction: column;
    }
    .img {
        width: 100%;
        height: 660px;
    }
    #img2 {
        margin-top: 20px;
    }


    /* Footer */
    /*===========================================================================*/
    footer {
        margin-top: 50px;
    }
}

@media all and (max-width: 768px) {
    .img {
        width: 100%;
        height: 475px;
    }
    .main-img h1 {
        font-size: 35px;
    }
    #eva-text {
        font-size: 14px;
    }
    .content-blank {
        width: 10%;
    }
    .content {
        width: 100%;
    }
    /* Next Nav*/
    /*===========================================================================*/
    .next-nav-box a {
        font-size: 18px;
    }

    /* HEADER */
    /*===========================================================================*/
    .menu li a {
        font-size: 14px;
        margin-left: 20px;
    }
}