/* ALL */
/*===========================================================================*/
@font-face {
    font-family: 'EBSHunminjeongeumL';
    src: url('../font/EBS훈민정음L.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: 'EBSHunminjeongeumR';
    src: url('../font/EBS훈민정음R.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'EBSHunminjeongeumSB';
    src: url('../font/EBS훈민정음SB.ttf');
    font-weight: bold;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

*, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-family: 'Pretendard'
}

a {
    text-decoration: none;
    /* color: white; */
    color: black;
}

body {
    background-color: #EFEEEA;
    color: black;
    /* background-color: #020202;
    color: white; */
}

.margin {
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
/*===========================================================================*/
header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    /* background-color: #020202; */
    z-index: 10;
    background-color: #EFEEEA;
}
header .container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo {
    font-family: 'EBSHunminjeongeumSB';
    font-weight: bold;
    font-size: 21px;
}
.menu ul {
    display: flex;
}
.menu li {
    list-style: none;
}

.menu li a{
    text-decoration: none;
    /* color: white; */
    margin-left: 40px;
    font-size: 16px;
    font-weight: normal;
}

/* Marquee */
/*===========================================================================*/
.content {
    margin-top: 100px;
    width: 100%;
}
.content-container {
    width: 95%;
    display: flex;
}
.content-container img{
    width: 100%;
}
.pr {
    width: 95%;
    margin-top: 150px;
}
.sub1-content-container {
    width: 95%;
    margin-top: 150px;
}
.sub1-content-title h3{
    font-size: 16px;
    opacity: 0.56;
}
.sub1-content-text {
    display: flex;
    margin-top: 30px;
}
.sub1-content-text h1 {
    margin: 0;
    font-size: 25px;
}
.sub1-content-text p {
    width: 1000px;
    text-align: justify;
    padding-left: 100px;
    font-size: 20px;
    line-height: 150%;
}
.section-img {
    margin-top: 100px;
}
.section-img img {
    width: 100%;
    height: 500px;
    overflow: auto;
    border-radius: 15px;
}

/* Co */
/*===========================================================================*/
.co {
    width: 100%;
    margin-top: 100px;
}
.co-container {
    width: 95%;
}
.co-line {
    border-top: 1px solid black;
}
.co-text {
    padding: 20px 20px 20px 0;
    display: flex;
    align-items: center;
}
#co-left {
    font-size: 20px;
    font-weight: 700;
}
#co-right {
    padding-left: 100px;
    font-family: 'EBSHunminjeongeumSB';
    font-size: 60px;
}
#co-right span {
    font-family: 'EBSHunminjeongeumSB';
    font-size: 60px;
    opacity: 0.3;
}
#last-co-line {
    border-bottom: 1px solid black;
}

/* Next nav*/
/*===========================================================================*/
.next-nav {
    width: 100%;
    margin-top: 100px;
}
.next-nav-box {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.next-nav-box a {
    font-size: 20px;
    font-weight: 700;
    opacity: 0.56;
}
.next-nav-box a:hover {
    opacity: 1;
}


/* FOOTER */
/*===========================================================================*/
footer {
    width: 100%;
    height: 50px;
    background-color: gray;
    margin-top: 100px;
}
.footer-container {
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list ul{
    display: flex;
}
.footer-list li {
    list-style: none;
}
.footer-list a{
    text-decoration: none;
    color: #5B5B5B;
}
.footer-left a {
    margin-right: 40px;
}
.footer-right a {
    margin-left: 40px;
}

@media all and (max-width: 1024px) {
    .sub1-content-title {
        margin-top: 100px;
    }
    .sub1-content-container  {
        margin-top: 50px;
    }
    .sub1-content-text {
        flex-direction: column;   
    }
    .sub1-content-text p {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
        font-size: 18px;
    }
    .content-container img{
        width: 100%;
    }
    .pr {
        margin-top: 50px;
    }
    /* Footer */
    /*===========================================================================*/
    footer {
        margin-top: 50px;
    }
}

@media all and (max-width: 768px) {
    /* Next Nav*/
    /*===========================================================================*/
    .next-nav-box a {
        font-size: 18px;
    }

    /* HEADER */
    /*===========================================================================*/
    .menu li a {
        font-size: 14px;
        margin-left: 20px;
    }
}